@model IEnumerable<CloudDentist.Models.UserRole>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" id="css-main" href="~/assets/css/codebase.min.css">
<script type="text/javascript">
    function Delete(Id, roleID) {
            
            alertify.confirm('Data Kategori','Apakah anda yakin untuk menghapus data ini ?!', function (e) {
                if (e) {
                    window.location.href = '@Url.Action("Delete","Role")/' + Id,roleID;
                }
                else {
                     alertify.error("You've clicked Cancel");
                }
            }, null);

        }

</script>
<!-- Dynamic Table Full Pagination -->
<div class="block">
    <div class="block-header block-header-default">
        <h3 class="block-title">List Role <small>Add Role</small></h3>
        <a href="@Url.Action("TambaheditData","Role")" class="btn btn-primary bottom-buffer" id="btn-add-role" style="float:right;"><i class="fa fa-plus"></i>Tambah Role</a>
    </div>
    @if (TempData["alert"] != null)
    {
        <script src="~/assets/js/plugins/sweetalert2/sweetalert2.js"></script>
        <script src="~/assets/js/plugins/sweetalert2/sweetalert2.min.js"></script>
        <script>
            swal("Hapus Data!!", "@TempData["Pesan"]", "error");
        </script>
    }
    @if (TempData["success"] != null)
    {
        <script src="~/assets/js/plugins/sweetalert2/sweetalert2.js"></script>
        <script src="~/assets/js/plugins/sweetalert2/sweetalert2.min.js"></script>
        <script>
            swal("Berhasil", "@TempData["Pesan"]", "success");
        </script>
    }
    @if (TempData["error"] != null)
    {
        <script src="~/assets/js/plugins/sweetalert2/sweetalert2.js"></script>
        <script src="~/assets/js/plugins/sweetalert2/sweetalert2.min.js"></script>
        <script>
            swal("ERROR", "@TempData["Pesan"]", "error");
        </script>
    }
    <div class="block-content block-content-full">
        <!-- DataTables functionality is initialized with .js-dataTable-full-pagination class in js/pages/be_tables_datatables.min.js which was auto compiled from _es6/pages/be_tables_datatables.js -->
        <table class="table table-bordered table-striped table-vcenter js-dataTable-full-pagination">
            <thead>
                <tr>
                    <th>Role ID</th>
                    <th>RoleName</th>
                    <th class="d-none d-sm-table-cell" style="width: 15%;">Edit Role</th>
                    <th class="text-center" style="width: 15%;">Delete Role</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="font-w600">@item.roleID</td>
                        <td class="font-w600">@item.RoleName</td>
                        <td class="font-w600">
                            <a href="@Url.Action("TambahEditData", "Role", new { roleName = item.RoleName })" class="btn btn-alt-primary"><i class="fa fa-pencil text-primary mr-5">Edit</i></a>
                        </td>
                        <td class="text-center">
                            <a onclick="Delete('@item.RoleName',roleID ='@item.roleID')" class="btn btn-sm btn-secondary m-5"><i class="fa fa-times text-danger mr-5">Delete</i></a>
                        </td>
                    </tr>
                }

            </tbody>

        </table>
    </div>
</div>
@section Scripts{
    <script src="~/assets/js/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/assets/jquery.validate.unobtrusive.js"></script>
}

