@model IEnumerable<CloudDentist.Models.UserModel>
@{
    ViewData["Title"] = "userlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
        function Delete(id) {
            alertify.confirm('Data Kategori','Apakah anda yakin untuk menghapus data ini ?!', function (e) {
                if (e) {
                    window.location.href = '@Url.Action("DeleteUserRole","Role")/' + id;
                }
                else {
                     alertify.error("You've clicked Cancel");
                }
            }, null);

        }

</script>
<div class="content">
    <nav class="breadcrumb bg-white push">
        <a class="breadcrumb-item" href="javascript:void(0)">Admin</a>
        <span class="breadcrumb-item active">Admin User</span>
    </nav>
    @if (TempData["alert"] != null)
    {
        <script src="~/assets/js/plugins/sweetalert2/sweetalert2.js"></script>
        <script src="~/assets/js/plugins/sweetalert2/sweetalert2.min.js"></script>
        <script>
            swal("Hapus Data!!", "@TempData["Pesan"]", "error");
        </script>
    }
    else
    {
        <script>
            swal("Berhasil", "@TempData["Pesan"]", "success");
        </script>
    }
    &nbsp;
    <div class="row items-push">
        @foreach (var item in Model)
        {
            <div class="col-md-6 col-xl-3">
                <div class="block block-rounded text-center">
                    <div class="block-content block-content-full">
                        <img class="img-avatar" src="~/assets/media/avatars/avatar5.jpg" alt="">
                    </div>
                    <div class="block-content block-content-full block-content-sm bg-body-light">
                        <div class="font-w600 mb-5">@item.Username</div>
                        <div class="font-size-sm text-muted">@item.Email</div>
                        <div class="font-size-sm text-muted">@item.rolename</div>
                    </div>
                    <div class="block-content block-content-full">
                        <a class="btn btn-rounded btn-alt-secondary" href="javascript:void(0)">
                            <i class="fa fa-user-circle mr-5"></i>Profile
                        </a>
                        <a onclick="Delete(id = @item.TenantID)" class="btn btn-rounded btn-alt-danger">
                            <i class="fa fa-eraser mr-5"></i>Delete
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- END Colleagues -->
</div>
<!-- END Page Content -->
@section Scripts{
    <script src="~/assets/js/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/assets/jquery.validate.unobtrusive.js"></script>
}
